

  <!-- Contenedor principal -->
  <div class="feed-container">
    <!-- Sección para crear una publicación -->
    <div (click)="crearPost()" class="create-post">
      <div class="create-post-header">
        <img src="https://devmiasx.com/uploads/67380645a9ac3_user.png" alt="Foto de perfil">
        <input type="text" placeholder="¿Qué estás pensando?"  readonly/>
      </div>
      <div class="create-post-footer">
        
        <button  (click)="crearPost()" >Publicar</button>
      </div>
    </div>

    <!-- Publicaciones -->
    <div *ngFor="let p of userData" class="post">
    
      <div class="post-header">
        <img src="{{p.fotoUrl}}" alt="Foto de perfil">
        <div>
          <h3>{{p.nombre}}</h3>
          <p class="time">Hace 2 horas</p>
        </div>
      </div>
      <div class="post-content">
        <p>{{p.text}}</p>
        <img src="{{p.imageUrl}}" >
      </div>
      <div class="post-footer">
        <button>👍 Me gusta</button>
        <button>💬 Comentar</button>
        <button>🔗 Compartir</button>
      </div>
    </div>

    
  </div>

